install:
  - cd app_angular
  - npm i
language: node_js
node_js:
  - "4.2.4"
before_script:
  - npm install -g gulp
after_success: 
  - npm run-script coveralls  
script:
  - npm run-script test-with-istanbul
