.item {
    display: block;
    background-color: white;
    border: solid #ddd 1px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 10px;
}
form input.ng-invalid.ng-touched {
    border-color: #FA787E;
}
form input.ng-valid.ng-touched {
    border-color: #78FA89;
}
form .error-message {
    color: #FA787E
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
