<div class="item list-item">
    <h3 class="text-center">List of calls</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th ng-click="order('name')">
                    Name
                    <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>Phone Number</th>
                <th ng-click="order('time')">
                    Time
                    <span class="sortorder" ng-show="predicate === 'time'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>Action</th>
                <th>Finished</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in callList | orderBy:predicate:reverse track by $index" ng-show="toogleView(item.time)">
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.time | date:'HH:mm'}}</td>
                <td><a href="" ng-click="removeItem(item.time)">delete</a></td>
                <td><input type="checkbox" name="viwed" ng-checked="timeInPast(item.time)" disabled ></td>
            </tr>
        </tbody>
    </table>
    <p class="text-center">
        <a class="btn btn-default" href="" role="button" title="all" ng-click="setTimeFilter('all')">All</a>
        <a class="btn btn-default" href="" role="button" title="next" ng-click="setTimeFilter('next')">Next</a>
        <a class="btn btn-default" href="" role="button" title="finished" ng-click="setTimeFilter('finished')">Finished</a>
    </p>
</div>