<div class="item add-item">
    <h3 class="text-center">Add call</h3>
    <form name="addCallForm" data-ng-submit="addCall()" novalidate>
        <div class="wrapper row">
            <div class="form-group col-md-4">
                <label class="sr-only" for="field-2-1">Name *</label>
                <input type="text" name="userName" class="form-control" ng-model="name" placeholder="Name" ng-maxlength="nameMaxLength" required>
                <span class="error-message" ng-show="addCallForm.$submitted || addCallForm.userName.$touched">
                    <span ng-show="addCallForm.userName.$error.maxlength">Name should not be longer than {{nameMaxLength}}</span>
                <span ng-show="addCallForm.userName.$error.required">Enter contact name</span>
                </span>
            </div>
            <div class="form-group col-md-5">
                <label class="sr-only" for="field-2-2">Phone *</label>
                <input type="text" name="userPhone" class="form-control" ng-model="phone" placeholder="Phone" ng-pattern="phonePattern" required>
                <span class="error-message" ng-show="addCallForm.$submitted || addCallForm.userPhone.$touched">
                    <span ng-show="addCallForm.userPhone.$error.pattern">Example of correct phone: +(420) 111 222 333</span>
                <span ng-show="addCallForm.userPhone.$error.required">Enter phone</span>
                </span>
            </div>
            <div class="form-group col-md-3">
                <label class="sr-only" for="timepicker">Time *</label>
                <input type="text" name="userTime" class="form-control" id="timepicker" placeholder="Time" ng-model="time" ng-pattern="timePattern"
                    datetime-picker="HH:mm" is-open="timePickerIsOpen" enable-date="false" timepicker-options="timeOptions" close-on-selection="true"
                    ng-click="openCalendar()" required>
                <span class="error-message" ng-show="addCallForm.$submitted || addCallForm.userTime.$touched">
                    <span ng-show="addCallForm.userTime.$error.pattern">Exaple of correct time: 21:45</span>
                    <span ng-show="addCallForm.userTime.$error.required">Enter time</span>
                </span>
            </div>
        </div>
        <p class="text-right">
            <input type="submit" class="btn btn-default" value="+ add" id="add-button">
        </p>
    </form>
</div>